<template>
  <div class="fixed z-10 inset-0 overflow-y-auto">
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
      <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-dark-gradient"></div>
      </div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span
      >&#8203;
      <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
      <!-- inicio de ventana principal -->
      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-6xl sm:w-full"
        role="dialog"
        aria-modal="true"
        aria-labelledby="modal-headline"
      >
        <div class="w-full max-w-3xl px-6 py-6 inline-block">
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Cod Tramo
              </label>
              <input
                :value="item.codtramo"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 cursor-not-allowed"
                id="grid-last-name"
                type="text"
                placeholder="Código tramo"
                disabled
              />
            </div>
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Cod Tramo Py
              </label>
              <input
                :value="item.codtramopy"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 cursor-not-allowed"
                id="grid-last-name"
                disabled
                type="text"
                placeholder="Code tramo proy"
              />
            </div>
            <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-state"
              >
                Vigencia
              </label>
              <div class="relative">
                <select
                  v-model="item.vigencia"
                  class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-state"
                >
                  <option value="vigente">Vigente</option>
                  <option value="inactivo">Inactivo</option>
                  <option value="pausa">Stand by</option>
                </select>
                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Duración
              </label>
              <input
                v-model.number="item.duracion"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 cursor-not-allowed"
                id="grid-last-name"
                type="text"
                disabled
                placeholder="Duración"
              />
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Prog Inicio
              </label>
              <input
                v-model="item.proginicio"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name"
                type="text"
                placeholder="0+000"
              />
            </div>
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Lat Inicio
              </label>
              <input
                v-model="item.latinicio"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name"
                type="text"
                placeholder="Latitud"
              />
            </div>
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Long Inicio
              </label>
              <input
                v-model="item.longinicio"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name"
                type="text"
                placeholder="Longitud"
              />
            </div>
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Alt Inicio
              </label>
              <input
                v-model="item.altinicio"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name"
                type="text"
                placeholder="Altitud"
              />
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Prog Final
              </label>
              <input
                v-model="item.progfinal"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name"
                type="text"
                placeholder="0+000"
              />
            </div>
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Lat Fin
              </label>
              <input
                v-model="item.latfin"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name"
                type="text"
                placeholder="Latitud"
              />
            </div>
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Long Fin
              </label>
              <input
                v-model="item.longfin"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name"
                type="text"
                placeholder="Longitud"
              />
            </div>
            <div class="w-full md:w-1/4 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Alt Fin
              </label>
              <input
                v-model="item.altfin"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name"
                type="text"
                placeholder="Altitud"
              />
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-5/12 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-state"
              >
                ID Criterio Ini
              </label>
              <div class="relative">
                <select
                  v-model="item.idcriterioini"
                  class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="grid-state"
                >
                  <option value="Inicio de tramo - Inicio ciudad"
                    >Inicio Tramo / Inicio Ciudad</option
                  >
                  <option value="Inicio de ciudad - Fin ciudad"
                    >Inicio Ciudad / Fin Ciudad</option
                  >
                  <option value="Fin Intervencion - Fin Tramo"
                    >Fin Intervención / Fin Tramo</option
                  >
                </select>
                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="w-full md:w-7/12 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Den corta
              </label>
              <input
                v-model="item.dencorta"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name"
                type="text"
                placeholder="Denominación corta"
              />
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Observación
              </label>
              <input
                v-model="item.observac"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="grid-last-name"
                type="text"
                placeholder="Observación"
              />
            </div>
          </div>
          <!-- <div class="flex flex-row space-x-8 mt-6">
            <div class="flex justify-end w-1/2">
              <video class="" controls>
                <source
                  src="https://www.w3schools.com/tags/mov_bbb.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
            <div class="w-1/2">
              <button
                class="bg-gray-200 border border-gray-500 border-r-0 text-gray-800 py-2 px-4 rounded-l"
              >
                🠉 Nuevo video
              </button>
              <button
                class="bg-transparent border border-gray-500 text-gray-800 py-2 px-4 rounded-r"
              >
                Ninguno seleccionado
              </button>
              <div class="w-1/1 mt-6">
                <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
                  <div class="inline-flex rounded-md shadow">
                    <a
                      href="#"
                      class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
                    >
                      Guardar
                    </a>
                  </div>
                  <div class="ml-3 inline-flex rounded-md shadow">
                    <a
                      href="#"
                      class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
                      @click="$emit('closeModal')"
                    >
                      Cancelar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="inline-block my-auto px-6 py-6 max-w-sm">
          <div class="">
            <video
              class="w-full shadow-lg"
              id="myVideo"
              ref="videotag"
              :poster="isThereVideo"
              controls
            >
              <source :src="item.videourl" type="video/mp4" />
            </video>
          </div>
          <div class="mt-6">
            <input
              class="hidden"
              @change="handleFileChange"
              type="file"
              id="videotramo"
              ref="videotramo"
              accept="video/mp4"
            />
            <label
              for="videotramo"
              class="bg-gray-200 border border-gray-500 border-r-0 text-gray-800 py-2 px-3 rounded-l select-none cursor-pointer"
            >
              🠉 Nuevo video
            </label>
            <label
              class="bg-transparent border border-gray-500 text-gray-800 py-2 px-3 rounded-r select-none"
            >
              {{ selectedVideoName }}
            </label>
            <div class="mt-6">
              <div class="mt-8 flex justify-center lg:flex-shrink-0 lg:mt-0">
                <div class="inline-flex rounded-md shadow">
                  <a
                    @click="dispatchTramo()"
                    href="#"
                    class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
                  >
                    <svg
                      class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                      :class="{ hidden: !loading }"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <circle
                        class="opacity-25"
                        cx="12"
                        cy="12"
                        r="10"
                        stroke="currentColor"
                        stroke-width="4"
                      ></circle>
                      <path
                        class="opacity-75"
                        fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                      ></path>
                    </svg>
                    {{ isNewTramo }} tramo
                  </a>
                </div>
                <div class="ml-3 inline-flex rounded-md shadow">
                  <a
                    href="#"
                    class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
                    @click="$emit('closeModal')"
                  >
                    Cancelar
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin de ventana principal -->
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: ['item', 'ruta'],
  mounted() {
    document
      .getElementById('myVideo')
      .addEventListener('loadedmetadata', this.loadDuration)
  },
  // beforeDestroy() {
  //   document
  //     .getElementById('myVideo')
  //     .removeEventListener('loadedmetadata', this.loadDuration)
  // },
  data() {
    return {
      fileVideo: null,
      selectedVideoName: 'Ninguno seleccionado',
      formData: null,
      loading: false
    }
  },
  computed: {
    isThereVideo() {
      // if (this.item.videurl || this.fileVideo) return ''
      // else return 'https://oldweb.dyu.edu.tw/english/design/no-video.gif'
      if (this.item.videourl) return ''
      else {
        if (this.fileVideo) return ''
        else return 'https://oldweb.dyu.edu.tw/english/design/no-video.gif'
      }
    },
    isNewTramo() {
      return this.item.newTramo ? 'Crear' : 'Actualizar'
    }
  },
  methods: {
    ...mapActions({
      createTramo: 'tramo/createTramo',
      updateTramo: 'tramo/updateTramo'
    }),
    handleFileChange() {
      this.fileVideo = this.$refs.videotramo.files[0]
      // console.log(this.fileVideo)
      this.selectedVideoName = this.fileVideo.name
      const videoPlayer = document.getElementById('myVideo')
      videoPlayer.onloadedmetadata = function() {
        console.log(this.duration)
      }
      this.item.duracion = videoPlayer.duration
      videoPlayer.src = URL.createObjectURL(this.fileVideo)
      videoPlayer.load()
    },
    loadDuration(event) {
      this.item.duracion = Number(
        (document.getElementById('myVideo').duration / 60).toFixed(2)
      )
    },
    prepareFormData() {
      this.formData = new FormData()
      this.formData.append('codruta', this.ruta.codruta)
      this.formData.append('vigencia', this.item.vigencia)
      this.formData.append('duracion', this.item.duracion)
      this.formData.append('proginicio', this.item.proginicio)
      this.formData.append('latinicio', this.item.latinicio)
      this.formData.append('longinicio', this.item.longinicio)
      this.formData.append('altinicio', this.item.altinicio)
      this.formData.append('progfinal', this.item.progfinal)
      this.formData.append('latfin', this.item.latfin)
      this.formData.append('longfin', this.item.longfin)
      this.formData.append('altfin', this.item.altfin)
      this.formData.append('idcriterioini', this.item.idcriterioini)
      this.formData.append('dencorta', this.item.dencorta)
      this.formData.append('observac', this.item.observac)
      this.formData.append('videoid', this.item.videoid)
      this.formData.append('video', this.fileVideo)
    },
    dispatchTramo() {
      if (this.item.newTramo) {
        this.prepareFormData()
        this.loading = true
        this.createTramo({
          route: this.ruta.codrutapyto,
          data: this.formData
        }).then(() => {
          this.loading = false
          this.$emit('closeModal')
        })
      } else {
        this.prepareFormData()
        this.loading = true
        this.updateTramo({
          id: this.item.codtramo,
          data: this.formData
        }).then(() => {
          this.loading = false
          this.$emit('closeModal')
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#myVideo {
  width: 24rem;
  max-height: 18rem;
}
.bg-dark-gradient {
  background: linear-gradient(304deg, rgba(#011627, 0.75), #011627);
}
</style>
