<template>
  <div
    class="relative process-row grid grid-cols-12 py-3 text-white mb-2 rounded"
    :class="vigencia"
  >
    <svg
      @click.stop="toDelete()"
      class="absolute top-0 right-0 h-6 w-6 flex-shrink-0"
      viewBox="0 0 24 24"
    >
      <circle cx="12" cy="12" r="10" fill="#fed7d7"></circle>
      <path
        fill="#f56565"
        d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"
      ></path>
    </svg>
    <div class="pl-3">{{ data.codtramo.toString().padStart(3, '0') }}</div>
    <div class="">{{ data.proginicio }}</div>
    <div class="">{{ data.progfinal }}</div>
    <div class="col-span-6">{{ data.idcriterioini }}</div>
    <div class="">Video</div>
    <div class="">{{ data.duracion }}</div>
    <!-- <div class="">{{ data.state }}</div> -->
    <div>
      <div
        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800 estado"
      >
        {{ data.vigencia }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data'],
  computed: {
    vigencia() {
      if (this.data.vigencia == 'vigente') return 'bg-green-400'
      else if (this.data.vigencia == 'inactivo') return 'bg-red-400'
      else return 'bg-yellow-500'
    }
  },
  methods: {
    toDelete() {
      console.log('para eliminar...')
      this.$emit('setToDelete', {
        codruta: this.data.codruta,
        codtramo: this.data.codtramo,
        codtramopy: this.data.codtramopy,
        dencorta: this.data.dencorta,
        observac: this.data.observac,
        videoid: this.data.videoid
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.process-row {
  cursor: pointer;
}
.estado {
  width: 3.5rem;
  justify-content: center;
}
</style>
