<template>
  <div id="app" class="container mx-auto py-6">
    <DeleteModal
      v-if="modalDelete"
      :item="tramoSelected"
      @closeModalDelete="closeModalDelete"
    />
    <ModalTramo
      v-if="modalTramo"
      :item="tramoSelected"
      :ruta="ruta"
      @closeModal="closeModal"
    />
    <multiselect
      v-model="valueProject"
      placeholder="Seleccionar proyecto"
      :options="projects"
      track-by="nompyto"
      label="nompyto"
      @select="selectProject"
    >
      <template slot="singleLabel" slot-scope="{ option }">
        <strong>{{ option.nompyto }}</strong>
      </template>
    </multiselect>
    <table v-if="route.length != 0" class="table-auto mt-6">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Cod Ruta</th>
          <th class="px-4 py-2 text-left">Cod Ruta Py</th>
          <th class="px-4 py-2 text-left">Den corto</th>
          <th class="px-4 py-2 text-left">Zona GPS</th>
          <th class="px-4 py-2 text-left">Long(km)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">{{
            route[0].codruta.toString().padStart(3, '0')
          }}</td>
          <td class="border px-4 py-2">{{ route[0].codrutapyto }}</td>
          <td class="border px-4 py-2">{{ route[0].dencorto }}</td>
          <td class="border px-4 py-2">{{ route[0].zonegps }}</td>
          <td class="border px-4 py-2">{{ route[0].longitud }}</td>
        </tr>
      </tbody>
    </table>
    <button
      class="bg-transparent hover:bg-indigo-600 text-indigo-400 hover:text-white font-semibold py-2 px-4 border border-indigo-400 hover:border-transparent rounded inline-flex items-center mt-6"
      :class="disableButton"
      :disabled="route.length == 0"
      @click="newPromo()"
    >
      <svg
        class="fill-current w-4 h-4 mr-2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z" />
      </svg>
      <span>Agregar tramo</span>
    </button>
    <div class="grid grid-cols-12 mt-6 mb-3">
      <div class="">Orden</div>
      <div class="">Prog Ini</div>
      <div class="">Prog Fin</div>
      <div class="col-span-6">Criterio</div>
      <div class="">Tipo</div>
      <div class="">Dur Min</div>
      <div class="">Estado</div>
    </div>
    <template v-if="true">
      <ProcessRow
        v-for="(item, index) in tramos"
        :key="index"
        :data="item"
        @click.native="setToUpdate(item)"
        @setToDelete="setToDelete"
      />
    </template>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import ProcessRow from './components/ProcessRow.vue'
import DeleteModal from '@/components/DeleteModal'
import ModalTramo from '@/components/ModalTramo'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'App',
  components: {
    ProcessRow,
    Multiselect,
    DeleteModal,
    ModalTramo
  },
  created() {
    this.fetchProjects()
  },
  data() {
    return {
      valueProject: null,
      modalDelete: false,
      modalTramo: false,
      tramoSelected: this.resetSelectedTramo()
    }
  },
  computed: {
    ...mapState({
      projects: state => state.project.projects,
      route: state => state.ruta.ruta,
      tramos: state => state.tramo.tramos
    }),
    disableButton() {
      if (this.route.length == 0) return ['opacity-50', 'cursor-not-allowed']
      else return []
    },
    ruta() {
      if (this.route)
        return {
          codruta: this.route[0].codruta,
          codrutapyto: this.route[0].codrutapyto
        }
      else return null
    }
  },
  methods: {
    ...mapActions({
      fetchProjects: 'project/fetchProjects',
      fetchRuta: 'ruta/fetchRuta'
    }),
    selectProject(actionName) {
      this.fetchRuta(actionName.codpyto)
    },
    newPromo() {
      this.modalTramo = !this.modalTramo
    },
    resetSelectedTramo() {
      return {
        // codtramo: '',
        // codtramopy: '',
        // codRuta: this.codigoRuta,
        newTramo: true,
        vigencia: 'vigente',
        duracion: 0,
        proginicio: '',
        latinicio: '',
        longinicio: '',
        altinicio: '',
        progfinal: '',
        latfin: '',
        longfin: '',
        altfin: '',
        idcriterioini: 'Inicio de tramo - Inicio ciudad',
        dencorta: '',
        observac: '',
        videoid: ''
      }
    },
    setToUpdate(item) {
      console.log('para actualiazr')
      this.tramoSelected = {
        ...item,
        newTramo: false
      }
      this.modalTramo = !this.modalTramo
    },
    setToDelete(item) {
      this.tramoSelected = item
      this.modalDelete = !this.modalDelete
    },
    closeModal() {
      this.modalTramo = !this.modalTramo
      this.tramoSelected = this.resetSelectedTramo()
    },
    closeModalDelete() {
      this.modalDelete = !this.modalDelete
      this.tramoSelected = this.resetSelectedTramo()
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
body {
  background-color: #f5f5f5;
}
</style>
